/* 

Color Palette 
http://www.colourlovers.com/palette/2462496/Wireframed

*/


/* Modal Styles
====================== */

.pledge-modal {
	box-sizing: border-box;
	background-color: rgba(70,70,70,0.5);
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	position: fixed;
	z-index: 40;
	opacity: 0;
	display: none;				
}



.modal-fadein {
	display: block;

	-moz-animation: modal-fadein 0.5s ease;
	-webkit-animation: modal-fadein 0.5s ease;
	-o-animation: modal-fadein 0.5s ease;
	animation: modal-fadein 0.5s ease;

	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}


.modal-slidein {
	display: block;

	-moz-animation: modal-slidein 0.5s ease;
	-webkit-animation: modal-slidein 0.5s ease;
	-o-animation: modal-slidein 0.5s ease;
	animation: modal-slidein 0.5s ease;

	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}



.pledge-modal-box {
	box-sizing: border-box;
	position: relative;
	background-color: #E8F3F8;
	display: block;
	height: 420px;
	min-width: 300px;
	max-width: 500px ;
	width: 100%;
	margin: 10% auto;
	padding: 10px;
	border-radius: 3px;
	top: 0;
}

.modal-button-footer {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	bottom: 0;
	left: 0;

}

.modal-terms-container {
	background-color: #DBE6EC;
	padding: 10px;
}

.modal-terms-container p {
	font-size: 0.9rem;
	font-weight: normal;
	text-align: justify;
}

input[type="text"] {
	box-shadow: 10px solid black;
}




body {
	font-family: 'open sans', sans-serif;
	letter-spacing: 0.02rem;
}


/* Contribution Amount Selection */
/* ================================================= */


/*.pledge-amount-button,
.pledge-amount-button-text { 
	display: none;
} 


.pledge-amount-button + label,
.pledge-amount-button-text + label {
	content: ""; 
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
	position: relative; 
	padding: 10px 12px;
	background-color: #81A8B8;

}

.pledge-amount-button:not(:checked) + label { 
	display: block;

} 


.pledge-amount-button:checked + label { 
	background-color: #618898;
	display: block;
	color: white;
} 

.pledge-amount-button-text + label {
	width: 48%;
}

.pledge-amount-button-text:not(:checked) + label { 

} 

.pledge-amount-button-text:checked + label { 
	background-color: #618898;
	color: white;
} 

.pledge-amount-other-text {
	width: 40px;
}*/

/* =========================================================== */


.pledge-form {
	width: 600px;
	padding: 20px;
	background-color: #E8F3F8;
	
}

.pledge-form input[type="radio"] {
    display:none;
}
.pledge-form input[type="radio"] + label {
    color: #292321;
}
.pledge-form input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius: 50%;
   	border-radius: 50%;
    border: 5px solid #C2CBCE;
    box-sizing: border-box;
}

.pledge-form input[type="radio"] + label span {
     background-color:#C2CBCE;
}

.pledge-form input[type="radio"]:checked + label span{
     background-color:white;
     border-color:#81A8B8;
}

.pledge-form input[type="radio"] + label span,
.pledge-form input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.2s linear;
  -o-transition:background-color 0.2s linear;
  -moz-transition:background-color 0.2s linear;
  transition:background-color 0.2s linear;
}

.pledge-form .row {
	margin: 10px 0px;
}

.pledge-donar-info label {
	display: block;
}

.pledge-donar-info input {
	width: 100%;
}

.pledge-form label:hover {
	cursor: pointer;
}

.pledge-form input[type="text"] {
	text-indent: 2px;
	border: 0px;
	border-radius: 2px;
    padding: 5px 5px;
    margin-left: 5px;
    margin: 0px;
}


.pledge-form {
	display: none;
	
}

.pledge-form-paypal {
	display: none;
	
}

.form-show {
	display: block;
}


.tab {
	display: inline-block;
	width: 150px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	background-color: #DBE6EC;
}

.tab-selected {
	border-bottom: 0px;
	background-color: #E8F3F8;
}

.tab:hover {
	cursor: pointer;
	
}



/* Pledge Form Custom Input Styles */
.pledge-company-checkbox label {
	display: inline-block;
	width: 200px;
}

/* This is that small text box near the checkboxes */
.pledge-company-checkbox input[type='text'] {
	width: 50px;
}

.input-office-number-container label {
	width: auto;
}

.input-office-number-container label,
.input-office-number-container input {
	position: relative;
	left: 26px;
}




#check-amount-text {
	width: 60px;
}


/* custom styles end */

/* Form Sections */
.pledge-donar-info, 
.pledge-company-checkbox,
.pledge-check-info {
	box-sizing: border-box;
	/*border: 1px solid black;*/
	padding: 10px;
	background-color: #DBE6EC;
	margin-bottom: 10px;


}

/* form sections end */

.pledge-form-paypal .paypal-button-submit {
	box-sizing: border-box;
	display: block;
	width: 50%;
	margin: 0px auto;
	font-size: 1.4rem;
	height: 50px;
	background-color: #81A8B8;
	border: 0px solid black;
	color: white;
	margin-top: 20px;
	border-radius: 5px;
}

.paypal-button-submit:hover {
	background: #7198A8;
}




.pledge-tab-container {
	position: relative;
	top: 1px;
	display: block;
	width: 500px;
}


.pledge-company-checkbox .row {
	margin-bottom: 30px;
}

.pledge-check-info .row {
	margin-bottom: 30px;
}

.pledge-submit {
	display: block;
	width: 50%;
	height: 50px;
	margin: 50px auto 0px auto;
	background-color: #81A8B8;
	border: 0px solid black;
	color: white;
	border-radius: 5px;
	font-size: 1.4rem;
}

.pledge-submit:hover {
	cursor: pointer;
	background-color: #7198A8; 
}

.terms-checkbox-container {
	width: 200px;
	text-align: center;
	margin: 0px auto;
}

.terms-checkbox-container label:hover {
	cursor: pointer;
}

.pledge-modal-close {
	border-radius: 50%;
	background-color: white;
	position: absolute;
	right: -15;
	top: -15;
}

.pledge-modal-close:hover {

	background-color: #DEDEDE;
	cursor: pointer;

}

.pledge-modal-submit {
	box-sizing: border-box;
	display: block;
	width: 50%;
	margin: 0px auto;
	font-size: 1.4rem;
	height: 50px;
	background-color: #81A8B8;
	border: 0px solid black;
	color: white;
	border-radius: 5px;
}

.pledge-modal-submit:hover {
	background-color: #7198A8;
}

#pledge-comments-label {
	display: block;
}

#pledge-comments {
	width: 100%;
	height: 100px;
	border: 0px solid black;
}

/* Animation Styles */

	/* Modal Animations */

@-moz-keyframes modal-fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes modal-fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@-o-keyframes modal-fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@keyframes modal-fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}





@-moz-keyframes modal-slidein {
	from {

		top: 50px;
	}
	to {
		top: 0px;
	}
}

@-webkit-keyframes modal-slidein {
	from {

		top: 50px;
	}
	to {
		top: 0px;
	}
}

@-o-keyframes modal-slidein {
	from {

		top: 50px;
	}
	to {
		top: 0px;
	}
}

@keyframes modal-slidein {
	from {

		top: 50px;
	}
	to {
		top: 0px;
	}
}

	/* modal animations end */

/* modal styles end */ 